<!doctype HTML>
<html>
<head>
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <h1>Musical Automata</h1>
    <p>A cellular-automata sequencer.</p>
    <div class="canvas-container">
      <canvas id="canvas" width="1000" height="280">
      </canvas>
    </div>

    <div class="row">
      <div class="controls">
        <button id="start">Start</button>
        <label for="tempo">Tempo: <input type="number" min="60" max="120" name="tempo" value="60"></input></label>
        <label for="desired-length">Desired length (sec): <input type="number" min="10" max="120" name="desired-length" value="60"></input></label>
      </div>
    </div>

    <div class="rulesets">
      <div class="table">
        <div class="rule-30 table-row ruleset active" data-rule="Rule30">
          <h1 class="italic">Rule 30</h1>
          <div class="rule">
            <span class="cell alive-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell alive-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell alive-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell dead-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell alive-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell alive-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell alive-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell dead-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell dead-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell alive-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell dead-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell dead-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell dead-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell alive-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell dead-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell dead-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
        </div> <!-- /rule 30 -->

        <div class="rule-90 table-row ruleset" data-rule="Rule90">
          <h1 class="italic">Rule 90</h1>
          <div class="rule">
            <span class="cell alive-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell alive-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell alive-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell dead-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell alive-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell alive-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell alive-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell dead-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell dead-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell alive-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell dead-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell dead-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell dead-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell alive-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell dead-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell dead-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
        </div> <!-- /rule 90-->

        <div class="rule-150 table-row ruleset" data-rule="Rule150">
          <h1 class="italic">Rule 150</h1>
          <div class="rule">
            <span class="cell alive-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell alive-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell alive-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell dead-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell alive-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell alive-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell alive-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell dead-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell dead-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell alive-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell dead-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell dead-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell dead-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell alive-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell alive-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
          <div class="rule">
            <span class="cell dead-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell dead-cell"></span>
            <br/>
            <span class="cell invisible-cell"></span>
            <span class="cell dead-cell"></span>
            <span class="cell invisible-cell"></span>
          </div>
        </div> <!-- /rule 150 -->
      </div> <!-- /table -->
    </div> <!-- /rulesets -->


  </div>
</body>

<script src="js/wad/src/wad.js"></script>
<script>
"use strict";
</script>

<script src="js/Constants.js"></script>
<script src="js/Cell.js"></script>
<script src="js/HashTable.js"></script>
<script src="js/Rule30.js"></script>
<script src="js/Rule90.js"></script>
<script src="js/Rule150.js"></script>
<script src="js/Graph.js"></script>
<script src="js/1dWorld.js"></script>
<script src="js/Finite1dWorld.js"></script>
<script src="js/MusicalWorld.js"></script>
<script src="js/StartWorld.js"></script>
<script src="js/InitButtons.js"></script>
<script src="js/Piano.js"></script>
<script>
function getElementByName(name) {
  return document.getElementsByName(name)[0];
}

(function() {

var rows = Constants.CANVAS_ROWS,
    cols = Constants.CANVAS_COLS,
    canvas = document.getElementById('canvas'),
    context = canvas.getContext('2d'),
    canvasWidth = canvas.width,
    canvasHeight = canvas.height,
    graph = new Graph(cols, rows, canvasWidth, canvasHeight);
    rule30 = new Rule30(),
    rule90 = new Rule90(),
    rule150 = new Rule150(),
    world = new MusicalWorld(graph, rule30, piano),
    ruleMap = {
      "Rule30": rule30,
      "Rule90": rule90,
      "Rule150": rule150
    };

var start = document.getElementById('start'),
  startButtonOnClick = function() {
    var tempo = getElementByName('tempo').value,
      lengthMs = getElementByName('desired-length').value * Constants.MS;

    var updateMs = Math.round((Constants.SECONDS_PER_MINUTE / tempo) * Constants.MS),
      numGenerations = Math.round(tempo * (lengthMs / (1000 * 60)));

    world.setMaxGenerations(numGenerations);
    startWorld(world, 
      updateMs, 
      { 
        width: canvasWidth, 
        height: canvasHeight, 
        rows: rows, 
        cols: cols 
      }, 
      context
    );
  },
  rulesets = document.getElementsByClassName('ruleset'),
  rulesetOnClick = function() {
    var rule = ruleMap[this.getAttribute('data-rule')];
    world.setRuleset(rule);

    document.getElementsByClassName('active')[0].className = 
      document.getElementsByClassName('active')[0].className.replace(/\bactive\b/, '');
    this.className = this.className + ' active';
  };

initStartButton(start, startButtonOnClick);
initRulesets(rulesets, rulesetOnClick);

})()
</script>
</html>
