<!doctype HTML>
<html>
<head>
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <canvas id="canvas" width="1000" height="1000">
  </canvas>
</body>

<script src="js/Cell.js"></script>
<script src="js/HashTable.js"></script>
<script src="js/Graph.js"></script>
<script src="js/1dWorld.js"></script>
<script>
var rows = 24,
    cols = 100,
    canvasWidth = 1000,
    canvasHeight = 240,
    graph = new Graph(cols, rows, canvasWidth, canvasHeight),
    world = new World(graph);

(function(world) {
  var colInc = Math.round(canvasWidth / cols),
    rowInc = Math.round(canvasHeight / rows),
    canvas = document.getElementById('canvas'),
    context = canvas.getContext('2d');

  var seedGen = [];
  for (var i = 0; i < canvasWidth; i += colInc) {
    seedGen.push(new Cell(i, 0, false));
  }
  seedGen[5].mAlive = true;

  world.seed(seedGen);

  
  var drawGrid = function() {
    context.beginPath();
    context.strokeStyle = '#fff';

    for (var x = 0; x < canvasWidth; x += colInc) {
      context.moveTo(x, 0);
      context.lineTo(x, canvasHeight);
    }

    for (var y = 0; y < canvasHeight; y += rowInc) {
      context.moveTo(0, y);
      context.lineTo(canvasWidth, y);
    }

    context.stroke();
  };

  function eventLoop() {
    world.draw(context);
    drawGrid();
    world.update();
  };
  setInterval(eventLoop, 5000);
}(world))
</script>
</html>
